.mb-3{
    margin: 20px;
}
article{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
}
.card{
    margin-left: 15px;
}
.card a{
    background:rgb(6, 211, 247);
    color: black;
    border: 1px solid rgb(6, 211, 247) ;
}
<<<<<<< HEAD

.fundo-vermelho {
    background-color: #f1c6a9;
}
.fundo-azul {
    background-color: #b4f1ee;
}
.fundo-laranja {
    background-color: #f3ae80;
}
.fundo-azulgelo {
    background-color: #c6d8d6;
}
.botao {
    background-color: rgba(0, 0, 0, 0.301);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;

}

.grids-body{
    padding: 25px;
}
.grids-rodape{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
.itens-canto{
    justify-content: flex-end;
=======
.autismo{
   font-family: 'roboto';
   border: 5px double white;
   padding: 10px;
   margin: 120px;
   text-align: center;
}
.autismo h2{
    font-size: 30px;
    
}
.autismo p{
    font-family:'roboto';
    font-size: 20px;

}

.noticias{
    margin: 100px;
}
.autismo-body{
    background-color: #ADD8E6;
}
h5{
    font-size: 40px;
}
.carousel-caption p{
    font-size: 30px;
}
.card-title {
    font-size: 20px;
}
.nav-link{
    font-family: 'roboto';
}
.fig{
    width: 700px;
>>>>>>> da81c68f42fdc3e423c5782379c785fd773f3174
}