.mb-3{
    margin: 20px;
}
article{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
}
.card{
    margin-left: 15px;
}
.card a{
    background:rgb(6, 211, 247);
    color: black;
    border: 1px solid rgb(6, 211, 247) ;
}
.autismo{
   font-family: 'roboto';
   border: 5px double white;
   padding: 10px;
   margin: 120px;
   text-align: center;
}
.autismo h2{
    font-size: 30px;
    
}
.autismo p{
    font-family:'roboto';
    font-size: 20px;

}

.noticias{
    margin: 100px;
}
.autismo-body{
    background-color: #ADD8E6;
}
h5{
    font-size: 40px;
}
.carousel-caption p{
    font-size: 30px;
}
.card-title {
    font-size: 20px;
}
.nav-link{
    font-family: 'roboto';
}
.fig{
    width: 700px;
}